h2 {
  text-align: center;
  color: #2f2f2f;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700; }

body {
  background-color: #f0f0f0; }

.global-wrapper {
  width: 1230px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative; }

.container {
  width: 95.122%;
  margin: 0 auto; }

header {
  position: relative; }
  header .flex-ct {
    padding: 27px 0 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header .toggle {
    width: 12%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 993px) {
      header .toggle {
        display: none; } }
    header .toggle #nav-icon3 {
      width: 40px;
      height: 28px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      header .toggle #nav-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #0099d2;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header .toggle #nav-icon3 span:nth-child(1) {
          top: 0px; }
        header .toggle #nav-icon3 span:nth-child(2), header .toggle #nav-icon3 span:nth-child(3) {
          top: 12px; }
        header .toggle #nav-icon3 span:nth-child(4) {
          top: 24px; }
    header .toggle #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    header .toggle #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .toggle #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header .toggle #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  header .logo-ct {
    width: -webkit-calc((100% - 430px) / 2);
    width: -moz-calc((100% - 430px) / 2);
    width: calc((100% - 430px) / 2); }
  header .form {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    header .form form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 430px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #f0f0f0; }
      header .form form input {
        width: -webkit-calc(100% - 36px);
        width: -moz-calc(100% - 36px);
        width: calc(100% - 36px);
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        border: none;
        background-color: #f0f0f0;
        color: #919191;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 9px 12px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        transition: .3s; }
        header .form form input:hover {
          -webkit-box-shadow: 0 0 3px #0099d2;
          -moz-box-shadow: 0 0 3px #0099d2;
          box-shadow: 0 0 3px #0099d2; }
      header .form form button {
        position: relative;
        width: 36px;
        border: none;
        background-color: #0099d2;
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        transition: .3s; }
        header .form form button:hover {
          opacity: .7; }
      header .form form svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  header .icons-block {
    width: -webkit-calc((100% - 430px) / 2);
    width: -moz-calc((100% - 430px) / 2);
    width: calc((100% - 430px) / 2);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    header .icons-block a {
      display: block;
      text-decoration: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
      header .icons-block a:hover {
        text-decoration: underline; }
    header .icons-block .icon-block {
      margin: 0 20px 0 17.5px; }
      header .icons-block .icon-block img {
        display: block;
        margin: 0 auto 10px; }
      header .icons-block .icon-block p {
        text-align: center;
        color: #919191;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400; }
    header .icons-block .bag-block {
      position: relative; }
    header .icons-block .counter-ct {
      position: absolute;
      top: -9px;
      right: -6px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background-color: #0099d2; }
      header .icons-block .counter-ct p {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 17.96px; }
  header nav {
    display: block;
    background-color: #dceef7;
    padding: 8px 0 10px; }
    header nav .container {
      position: relative; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0; }
      header nav ul ul {
        width: auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        header nav ul ul li {
          margin: 0 7px;
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
          header nav ul ul li:first-child {
            margin-left: 0; }
          header nav ul ul li:last-child {
            margin-right: 0; }
          header nav ul ul li a {
            padding: 0 10px; }
            header nav ul ul li a::after {
              border: none; }
    header nav li {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      list-style: none; }
      header nav li a {
        text-decoration: none;
        color: #2f2f2f;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        position: relative; }
        header nav li a::after {
          position: absolute;
          left: 0;
          bottom: -30%;
          width: 100%;
          margin: 0 auto;
          border-bottom: 2px solid #0099d2;
          content: '';
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          opacity: 0;
          -webkit-transition: all .4s linear;
          -o-transition: all .4s linear;
          -moz-transition: all .4s linear;
          transition: all .4s linear; }
        header nav li a:hover::after {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
          opacity: 1; }
    header nav .sale a {
      color: #0099d2; }
    header nav .first-A {
      background-color: #0099d2;
      width: 28px;
      height: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      header nav .first-A a {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        color: #ffffff;
        font-size: 14px; }
    header nav .second-A a {
      color: #ffffff;
      font-size: 14px; }
    header nav .third-A a {
      color: #000000;
      font-size: 14px; }

.slider .slick-slider {
  margin: 0; }

.slider .slide-ct {
  -moz-background-size: cover;
  background-size: cover;
  position: relative; }
  .slider .slide-ct:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0099d2;
    opacity: .3; }
  .slider .slide-ct .text-ct {
    width: 41%;
    margin: 165px auto 175px; }
  .slider .slide-ct h2 {
    line-height: 48px;
    color: #000000; }
  .slider .slide-ct p {
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }

.slider .slide-1 {
  background: url("../images/slide1.jpg"); }

.slider .slide-2 {
  background: url("../images/slide2.jpeg"); }

.slider .slide-3 {
  background: url("../images/slide3.jpeg"); }

.slider .slick-arrow {
  font-size: 1px;
  width: auto;
  height: auto;
  z-index: 2; }
  .slider .slick-arrow svg {
    fill: #919191;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }
    .slider .slick-arrow svg:hover {
      fill: #0099d2; }

.slider .slick-prev {
  left: 35px; }

.slider .slick-next {
  right: 35px; }

.slider .slick-prev:before, .slider .slick-next:before {
  font-size: 0px; }

.slider .slick-dots {
  bottom: 6px; }
  .slider .slick-dots li {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border: 3px solid #919191;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }
    .slider .slick-dots li:hover {
      background-color: #0099d2; }
  .slider .slick-dots button:before {
    content: ""; }
  .slider .slick-dots .slick-active {
    border: 3px solid #0099d2; }

.main-card-block {
  padding: 80px 0; }
  .main-card-block h2 {
    line-height: 17.96px;
    margin: 0 0 90px; }
  .main-card-block .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main-card-block figure {
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    margin: 0 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 49%;
    border: 1px solid #f0f0f0;
    background-color: #ffffff; }
    .main-card-block figure:nth-child(3) .text-ct, .main-card-block figure:nth-child(4) .text-ct {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .main-card-block figure:nth-child(3) .img-ct, .main-card-block figure:nth-child(4) .img-ct {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
  .main-card-block .visible {
    opacity: 1; }
  .main-card-block .hidden {
    opacity: 0; }
  .main-card-block .img-ct {
    width: 50%;
    height: 285px; }
    .main-card-block .img-ct img {
      width: 100%;
      height: 100%; }
  .main-card-block .text-ct {
    width: 50%;
    padding: 37px 15px 54px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-card-block .text-ct h3 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: #2f2f2f;
      font-size: 20px;
      line-height: 25px;
      text-transform: uppercase; }
    .main-card-block .text-ct p {
      text-align: center;
      color: #919191;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 70px; }
    .main-card-block .text-ct .btn-ct {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .main-card-block .text-ct a {
      background-color: #0099d2;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      padding: 15px 52px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
      .main-card-block .text-ct a:hover {
        opacity: .7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }

.main-info-block {
  background: url("../images/our-vision-bg.png") no-repeat 50% 100% fixed;
  -moz-background-size: cover;
  background-size: cover;
  padding: 80px 0 90px; }
  .main-info-block h2 {
    margin: 0 0 45px;
    line-height: 24px; }
  .main-info-block p, .main-info-block a {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #919191;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px; }
  .main-info-block svg {
    width: 30px;
    height: 30px;
    fill: #0099d2;
    display: block;
    margin: 0 auto; }

.contact ul, .services ul, .doctors ul {
  padding: 0; }
  .contact ul li, .services ul li, .doctors ul li {
    list-style: none;
    margin: 5px 0; }
    .contact ul li p, .contact ul li a, .services ul li p, .services ul li a, .doctors ul li p, .doctors ul li a {
      margin: 0; }

.doctors ul {
  width: 50%;
  margin: 30px auto 0; }
  .doctors ul p {
    padding: 5px 0;
    text-align: center; }

.gift-card {
  margin: 5px 0;
  background-color: #dceef7;
  padding: 8px 12px; }
  .gift-card .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gift-card img {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 34px;
    margin: 0 22px 0 0; }
  .gift-card h3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 5px 0 0; }
  .gift-card p {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 300; }
    .gift-card p a {
      color: #2f2f2f;
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
      .gift-card p a:hover {
        color: #0099d2; }

footer .footer-menu {
  padding: 30px 0 40px; }
  footer .footer-menu .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer .footer-menu ul {
    margin: 0;
    padding: 0;
    width: 33%; }
    footer .footer-menu ul li {
      list-style: none; }
      footer .footer-menu ul li:first-child {
        margin: 0 0 35px; }
    footer .footer-menu ul h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #2f2f2f;
      line-height: 17.99px;
      text-transform: uppercase; }
    footer .footer-menu ul a {
      color: #919191;
      font-family: 'Montserrat', sans-serif;
      line-height: 29.99px;
      text-decoration: none; }
    footer .footer-menu ul:nth-child(3) a {
      color: #000000; }
    footer .footer-menu ul:last-child a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    footer .footer-menu ul:last-child svg {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin: 0 0 0 -20px; }
    footer .footer-menu ul:last-child p {
      margin: 0 0 0 12px; }
    footer .footer-menu ul a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
      footer .footer-menu ul a:hover {
        color: #0099d2; }

footer .copyright {
  background-color: #f0f0f0;
  padding: 43px 0 38px; }
  footer .copyright img {
    display: block;
    margin: 0 auto 17px; }
  footer .copyright p {
    color: #919191;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 32px; }

.form-ct form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin: 40px auto; }

.form-ct input {
  margin: 15px 0;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #919191;
  border: 1px solid #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 5px #919191;
  -moz-box-shadow: 0 0 5px #919191;
  box-shadow: 0 0 5px #919191; }

.form-ct button {
  background-color: #0099d2;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 52px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .form-ct button:hover {
    opacity: .7; }
